@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@mintlify/components';

@layer base {
    :root {
		--accent: 210 40% 96.1%;
		--accent-100: 210 38% 94%;
		--accent-200: 207 38% 86%;
		--accent-300: 206 38% 74%;
		--accent-400: 204 37% 60%;
		--accent-50: 210 40% 96%;
		--accent-500: 205 35% 48%;
		--accent-600: 207 39% 39%;
		--accent-700: 207 39% 32%;
		--accent-800: 206 36% 27%;
		--accent-900: 209 33% 24%;
		--accent-950: 211 33% 16%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--background: 0 0% 100%;
		--background-100: 0 0% 94%;
		--background-200: 0 0% 86%;
		--background-300: 0 0% 74%;
		--background-400: 0 0% 60%;
		--background-50: 0 0% 100%;
		--background-500: 0 0% 49%;
		--background-600: 0 0% 40%;
		--background-700: 0 0% 32%;
		--background-800: 0 0% 27%;
		--background-900: 0 0% 24%;
		--background-950: 0 0% 16%;
		--border: 214.3 31.8% 91.4%;
		--card: 0 0% 100%;
		--card-100: 0 0% 94%;
		--card-200: 0 0% 86%;
		--card-300: 0 0% 74%;
		--card-400: 0 0% 60%;
		--card-50: 0 0% 100%;
		--card-500: 0 0% 49%;
		--card-600: 0 0% 40%;
		--card-700: 0 0% 32%;
		--card-800: 0 0% 27%;
		--card-900: 0 0% 24%;
		--card-950: 0 0% 16%;
		--card-foreground: 222.2 84% 4.9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-100: 0 93% 94%;
		--destructive-200: 0 96% 89%;
		--destructive-300: 0 94% 82%;
		--destructive-400: 0 91% 71%;
		--destructive-50: 0 86% 97%;
		--destructive-500: 0 84% 60%;
		--destructive-600: 0 72% 51%;
		--destructive-700: 0 74% 42%;
		--destructive-800: 0 70% 35%;
		--destructive-900: 0 63% 31%;
		--destructive-950: 0 75% 15%;
		--destructive-foreground: 210 40% 98%;
		--font-body: 'Inter', sans-serif;;
		--font-display: 'Inter', sans-serif;;
		--foreground: 222.2 84% 4.9%;
		--input: 214.3 31.8% 91.4%;
		--muted: 210 40% 96.1%;
		--muted-100: 210 38% 94%;
		--muted-200: 207 38% 86%;
		--muted-300: 206 38% 74%;
		--muted-400: 204 37% 60%;
		--muted-50: 210 40% 96%;
		--muted-500: 205 35% 48%;
		--muted-600: 207 39% 39%;
		--muted-700: 207 39% 32%;
		--muted-800: 206 36% 27%;
		--muted-900: 209 33% 24%;
		--muted-950: 211 33% 16%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--popover: 0 0% 100%;
		--popover-100: 0 0% 94%;
		--popover-200: 0 0% 86%;
		--popover-300: 0 0% 74%;
		--popover-400: 0 0% 60%;
		--popover-50: 0 0% 100%;
		--popover-500: 0 0% 49%;
		--popover-600: 0 0% 40%;
		--popover-700: 0 0% 32%;
		--popover-800: 0 0% 27%;
		--popover-900: 0 0% 24%;
		--popover-950: 0 0% 16%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-100: 211 78% 93%;
		--primary-200: 208 82% 87%;
		--primary-300: 207 80% 78%;
		--primary-400: 209 78% 68%;
		--primary-50: 210 88% 97%;
		--primary-500: 213 76% 60%;
		--primary-600: 217 69% 53%;
		--primary-700: 220 63% 48%;
		--primary-800: 222 59% 40%;
		--primary-900: 221 54% 33%;
		--primary-950: 222 47% 11%;
		--primary-foreground: 210 40% 98%;
		--radius: 0.5rem;
		--ring: 222.2 84% 4.9%;
		--secondary: 210 40% 96.1%;
		--secondary-100: 210 38% 94%;
		--secondary-200: 207 38% 86%;
		--secondary-300: 206 38% 74%;
		--secondary-400: 204 37% 60%;
		--secondary-50: 210 40% 96%;
		--secondary-500: 205 35% 48%;
		--secondary-600: 207 39% 39%;
		--secondary-700: 207 39% 32%;
		--secondary-800: 206 36% 27%;
		--secondary-900: 209 33% 24%;
		--secondary-950: 211 33% 16%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--textcolor-primary: 240 8% 12%;
		--textcolor-secondary: 218 17% 46%;
		--textcolor-tertiary: 210 0% 60%;
		--typeface-body-family: 'Inter', sans-serif;;
		--typeface-display-family: 'Inter', sans-serif;
    }

    .dark {
		--accent: 210 40% 3.9000000000000057%;
		--accent-100: 210 38% 6%;
		--accent-200: 207 38% 14%;
		--accent-300: 206 38% 26%;
		--accent-400: 204 37% 40%;
		--accent-50: 210 40% 4%;
		--accent-500: 205 35% 52%;
		--accent-600: 207 39% 61%;
		--accent-700: 207 39% 68%;
		--accent-800: 206 36% 73%;
		--accent-900: 209 33% 76%;
		--accent-950: 211 33% 84%;
		--accent-foreground: 222.2 47.4% 88.8%;
		--background: 0 0% 0%;
		--background-100: 0 0% 6%;
		--background-200: 0 0% 14%;
		--background-300: 0 0% 26%;
		--background-400: 0 0% 40%;
		--background-50: 0 0% 0%;
		--background-500: 0 0% 51%;
		--background-600: 0 0% 60%;
		--background-700: 0 0% 68%;
		--background-800: 0 0% 73%;
		--background-900: 0 0% 76%;
		--background-950: 0 0% 84%;
		--border: 214.3 31.8% 8.599999999999994%;
		--card: 0 0% 0%;
		--card-100: 0 0% 6%;
		--card-200: 0 0% 14%;
		--card-300: 0 0% 26%;
		--card-400: 0 0% 40%;
		--card-50: 0 0% 0%;
		--card-500: 0 0% 51%;
		--card-600: 0 0% 60%;
		--card-700: 0 0% 68%;
		--card-800: 0 0% 73%;
		--card-900: 0 0% 76%;
		--card-950: 0 0% 84%;
		--card-foreground: 222.2 84% 95.1%;
		--destructive: 0 84.2% 39.8%;
		--destructive-100: 0 93% 6%;
		--destructive-200: 0 96% 11%;
		--destructive-300: 0 94% 18%;
		--destructive-400: 0 91% 29%;
		--destructive-50: 0 86% 3%;
		--destructive-500: 0 84% 40%;
		--destructive-600: 0 72% 49%;
		--destructive-700: 0 74% 58%;
		--destructive-800: 0 70% 65%;
		--destructive-900: 0 63% 69%;
		--destructive-950: 0 75% 85%;
		--destructive-foreground: 210 40% 2%;
		--font-body: 'Inter', sans-serif;;
		--font-display: 'Inter', sans-serif;;
		--foreground: 222.2 84% 95.1%;
		--input: 214.3 31.8% 8.599999999999994%;
		--muted: 210 40% 3.9000000000000057%;
		--muted-100: 210 38% 6%;
		--muted-200: 207 38% 14%;
		--muted-300: 206 38% 26%;
		--muted-400: 204 37% 40%;
		--muted-50: 210 40% 4%;
		--muted-500: 205 35% 52%;
		--muted-600: 207 39% 61%;
		--muted-700: 207 39% 68%;
		--muted-800: 206 36% 73%;
		--muted-900: 209 33% 76%;
		--muted-950: 211 33% 84%;
		--muted-foreground: 215.4 16.3% 53.1%;
		--popover: 0 0% 0%;
		--popover-100: 0 0% 6%;
		--popover-200: 0 0% 14%;
		--popover-300: 0 0% 26%;
		--popover-400: 0 0% 40%;
		--popover-50: 0 0% 0%;
		--popover-500: 0 0% 51%;
		--popover-600: 0 0% 60%;
		--popover-700: 0 0% 68%;
		--popover-800: 0 0% 73%;
		--popover-900: 0 0% 76%;
		--popover-950: 0 0% 84%;
		--popover-foreground: 222.2 84% 95.1%;
		--primary: 222.2 47.4% 88.8%;
		--primary-100: 211 78% 7%;
		--primary-200: 208 82% 13%;
		--primary-300: 207 80% 22%;
		--primary-400: 209 78% 32%;
		--primary-50: 210 88% 3%;
		--primary-500: 213 76% 40%;
		--primary-600: 217 69% 47%;
		--primary-700: 220 63% 52%;
		--primary-800: 222 59% 60%;
		--primary-900: 221 54% 67%;
		--primary-950: 222 47% 89%;
		--primary-foreground: 210 40% 2%;
		--radius: 0.5rem;
		--ring: 222.2 84% 95.1%;
		--secondary: 210 40% 3.9000000000000057%;
		--secondary-100: 210 38% 6%;
		--secondary-200: 207 38% 14%;
		--secondary-300: 206 38% 26%;
		--secondary-400: 204 37% 40%;
		--secondary-50: 210 40% 4%;
		--secondary-500: 205 35% 52%;
		--secondary-600: 207 39% 61%;
		--secondary-700: 207 39% 68%;
		--secondary-800: 206 36% 73%;
		--secondary-900: 209 33% 76%;
		--secondary-950: 211 33% 84%;
		--secondary-foreground: 222.2 47.4% 88.8%;
		--textcolor-primary: 240 8% 88%;
		--textcolor-secondary: 218 17% 54%;
		--textcolor-tertiary: 210 0% 40%;
		--typeface-body-family: 'Inter', sans-serif;;
		--typeface-display-family: 'Inter', sans-serif;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    h1 {
      @apply text-[#1E1F22]
    }
    h2 {
      @apply text-[#1E1F22]
    }
    p {
      @apply text-[#5B5E66]
    }
    svg {
      @apply text-[#5B5E66]
    }
}
