@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@mintlify/components';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@layer base {
    :root {
		--background: 0 0% 99%;
		--relief: 0 0% 98%;
		--background-2: 220 14% 96%;
		--textcolor-primary: 240 8% 12%;
		--textcolor-secondary: 218 17% 46%;
		--textcolor-tertiary: 210 0% 60%;

		--hover: 220 16% 91%;

		--absolute-negative: 0 0 0%;
		--absolute-positve: 0 0 100%;

		--typeface-body-family: 'Inter', sans-serif;;
		--typeface-display-family: 'Inter', sans-serif;

		--border: 214.3 31.8% 91.4%;
		--radius: 0.5rem;

		--font-roboto-mono: 'Roboto Mono', monospace;
		--font-body: 'Inter', sans-serif;;
		--font-display: 'Inter', sans-serif;;
		--foreground: 222.2 84% 4.9%;
    }

    .dark {
		--background: 0 0% 15%;
		--relief: 0 0% 16%;
		--background-2: 0 0% 25%;
		--textcolor-primary: 240 8% 88%;
		--textcolor-secondary: 232 4% 65%;
		--textcolor-tertiary: 210 0% 40%;

		--hover: 220 16% 9%;

		--absolute-negative: 0 0 100%;
		--absolute-positve: 0 0 0%;
		
		--typeface-body-family: 'Inter', sans-serif;;
		--typeface-display-family: 'Inter', sans-serif;
		
		--border: 214.3 31.8% 8.599999999999994%;
		--radius: 0.5rem;

		--font-roboto-mono: 'Roboto Mono', monospace;
		--font-body: 'Inter', sans-serif;;
		--font-display: 'Inter', sans-serif;;
		--foreground: 222.2 84% 4.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
	
    h1 {
      @apply text-textcolor-primary

    }
    h2 {
      @apply text-textcolor-primary
    }
    p {
      @apply text-textcolor-secondary
    }
    svg {
      @apply text-textcolor-secondary
    }
}

code {
	font-size: 0.9em;
}